* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.indent-block {
    text-indent: 30px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    color: #333;
}
  
  header, nav, main, footer {
    margin-bottom: 2rem;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  